*{
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Besley', serif;
}

/* Navbar Styling!! */

header {
	height: 5vh;
	position: sticky;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}

.logo{
	width: 50%;
	display: flex;
	justify-content: row;
	margin: 0 0 0 5%;
}

.logo h2{
	width: 100%;
	display: flex;
	justify-content: row;
}

.navbar .a {
	text-decoration: none;
	color: white;
	font-weight: 600;
}

header h2 a{
	color: white;
	text-decoration: none;
	padding-left: 40px;
}

.a {
    cursor: pointer;
}
.a::after {
    content: "";
	background: #1DB954;
    display: block;
    height: 0.125em;
    width: 0;
    transition: all ease-in-out .15s;
}
.a:hover::after {
    width: 100%;
}

/* Home styling */

.home-container{
  text-align: center;
}

.home-info p {
	width: 50%;
	color: black;
	line-height: 1.5em;
}

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Feed card styling */

.feed-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	width: 30%;
	border: 1px solid #1DB954;;
	border-radius: 10px;
	background-color: lightgrey;
	color: black;
	line-height: 1.5em;
}

.card-img {
	width: 100%;
	border-radius: 10px;
}

.name {
	font-size: 1.2rem;
}

/* Organizer Form styling */

.otherContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5% 0;
}

@media (max-width: 415px){
	header{
		padding: 0;
	}

	.navbar{
		padding: 0;
	}

	header h2 a{
		font-size: 1rem;
		padding: 0;
		text-align: center;
	}

	.navbar a{
		font-size: 0.8rem;
	}
}

